@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
@import url('https://fonts.cdnfonts.com/css/witches-friend-script');
@import url('https://fonts.cdnfonts.com/css/magical-horison');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --wdrsky-paper: #eaeaea;
    --wdrsky-txt: #000;
    --wdrsky-primary: #624141;
}

#WanderingSky { position: relative; }
#WanderingSky * { box-sizing: border-box; }

#WanderingSky a[href="https://discord.com/users/625292873914515456/"] {
    height: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

#WanderingSky a[href="https://discord.com/users/625292873914515456/"] ~ div:first-child { position: relative; }
  
#WanderingSky::after {
    content: "☁︎";

    width: fit-content;
    height: 10px;
    margin-block-start: 4px;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Sarabun', sans-serif;
    font-size: 10px;
    line-height: 1;
    color: gray !important;
}
  
#WanderingSky:hover::after { content: "made by zzzcode"; }

#WanderingSky {
    #wdrsky-role.wdrsky-box {
        --wdrsky-border: color-mix(in srgb , var(--wdrsky-primary), transparent 80%);

        position: relative;
        width: 650px;
        max-width: 100%;
        margin: auto;
        color: var(--wdrsky-txt);
        background: var(--wdrsky-paper);
        border-block: 10px solid var(--wdrsky-primary);

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, transparent 40%, rgba(255,255,255,0.015) calc(25% + 2px), transparent), linear-gradient(to left, transparent 50%, rgba(255,255,255,0.015) calc(50% + 2px), transparent) top center/100% calc(60% - 2px) no-repeat;
            mix-blend-mode: exclusion;

            pointer-events: none;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
        }

        .wdrsky-header {
            position: relative;
            padding: 2rem;

            display: flex;
            justify-content: space-between;
            
            font-family: 'Sarabun', sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            line-height: 1;
            color: var(--wdrsky-primary);
        }

        .wdrsky-title {
            position: relative;
            padding: 2rem;
            padding-bottom: 1rem;
            
            display: flex;
            justify-content: space-between;
            color: var(--wdrsky-primary);

            h1 {
                margin: 0;
                font-family: 'Magical Horison', sans-serif;
                font-weight: normal;
                font-size: 3rem;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                line-height: 1;
                text-shadow: 0 0 var(--wdrsky-primary), 0 0 var(--wdrsky-primary);

                & + br { display: none; }
            }

            &::after {
                content: "\f0f3";
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                display: inline-block;
                font-family: "Font Awesome 7 Free";
                font-feature-settings: normal;
                font-style: normal;
                font-synthesis: none;
                font-variant: normal;
                font-weight: 900;
                line-height: 1;
                text-align: center;
                text-rendering: auto;
                width: 1.25em;
                align-self: center;
            }
        }

        .wdrsky-body {
            position: relative;
            border-block: 1px solid var(--wdrsky-border);

            &::before {
                content: "";
                position: absolute;
                inset: 4px 0;
                border-top: 1px solid var(--wdrsky-border);
            }

            .wdrsky-inn {
                position: relative;
                margin-inline: 2rem;
                border-inline: 1px solid var(--wdrsky-border);

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0 4px;
                    border-inline: 1px solid var(--wdrsky-border);
                }

                .wdrsky-info {
                    position: relative;
                    width: calc(100% + 4rem);
                    margin-left: -2rem;
                    padding-block: 3rem 0;
                    padding-inline: 4rem;
                    
                    display: flex;
                    justify-content: space-between;
                    gap: min(1vw, 1rem);
                    border-bottom: 1px solid var(--wdrsky-border);

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 4px 0;
                        border-bottom: 1px solid var(--wdrsky-border);
                    }

                    .wdrsky-name, .wdrsky-date {
                        display: flex;
                        gap: 8px;
                        
                        font-family: 'Witches Friend Script', sans-serif;
                        font-size: 4.5rem;
                        font-style: italic;
                        line-height: 0;
                        letter-spacing: 0.02em;
                        margin-bottom: -8px;

                        &::before {
                            font-family: 'Sarabun', sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            text-transform: uppercase;
                            color: var(--wdrsky-primary);
                            
                            margin-bottom: 1.75rem;
                            margin-top: auto;
                        }
                    }

                    .wdrsky-name { flex: 1.5; }
                    .wdrsky-name::before { content: "to."; }
                    .wdrsky-date { flex: 1; }
                    .wdrsky-date::before { content: "date."; }
                }

                .wdrsky-content {
                    position: relative;
                    width: calc(100% + 4rem);
                    margin-left: -2rem;
                    padding-inline: 4rem;
                    padding-block: calc(1lh + 4px) 2lh;
                    background: repeating-linear-gradient(transparent, transparent calc(1lh - 1px), var(--wdrsky-border) calc(1lh - 1px), var(--wdrsky-border) 1lh, transparent 1lh);
                    font-family: 'Bai Jamjuree', san-serif;
                }
            }
        }

        .wdrsky-note {
            padding: 1rem 2rem;
            border-bottom: 1px solid var(--wdrsky-border);
            margin-bottom: 4px;
            
            display: flex;
            gap: 8px;
            align-items: baseline;
            
            font-family: 'Bai Jamjuree', san-serif;

            &::before {
                content: "note :";
                flex-shrink: 0;
                font-family: 'Sarabun', sans-serif;
                font-size: 14px;
                font-style: normal;
                text-transform: uppercase;
                color: var(--wdrsky-primary);
            }
        }
    }

    #wdrsky-thread.wdrsky-box {
        --wdrsky-border: color-mix(in srgb , var(--wdrsky-primary), transparent 80%);

        position: relative;
        width: 1000px;
        max-width: 100%;
        margin: auto;
        color: var(--wdrsky-txt);
        background: var(--wdrsky-paper);
        border-block: 10px solid var(--wdrsky-primary);
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, transparent 40%, rgba(255,255,255,0.015) calc(25% + 2px), transparent), linear-gradient(to left, transparent 50%, rgba(255,255,255,0.015) calc(50% + 2px), transparent) top center/100% calc(60% - 2px) no-repeat;
            mix-blend-mode: exclusion;

            pointer-events: none;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
        }

        .wdrsky-header {
            position: relative;
            padding: 2rem min(3.5vw, 4rem);

            display: flex;
            justify-content: space-between;
            
            font-family: 'Sarabun', sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            line-height: 1;
            color: var(--wdrsky-primary);
        }

        .wdrsky-title {
            position: relative;
            padding: 4rem min(3.5vw, 4rem);
            padding-bottom: 1rem;
            color: var(--wdrsky-primary);

            &::after {
                content: "\f0f3";
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                display: inline-block;
                font-family: "Font Awesome 7 Free";
                font-feature-settings: normal;
                font-style: normal;
                font-synthesis: none;
                font-variant: normal;
                font-weight: 900;
                line-height: 1;
                text-align: center;
                text-rendering: auto;
                width: 1.25em;
                align-self: center;
                font-size: 1.5em;
            }
        }

        .wdrsky-hero {
            position: relative;
            width: 100%;
            aspect-ratio: 3;
            background: url(https://iili.io/CC9MvUu.png) center/cover no-repeat;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 1rem;
                transform: translateY(-40%);
                
                width: 51%;
                aspect-ratio: 528/260;
                background: url(https://iili.io/CC9Sq7V.png) center/contain no-repeat;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateY(40%);
                
                width: 24.83%;
                aspect-ratio: 257/98;
                background: url(https://iili.io/CCHHMb9.png) center/contain no-repeat;
            }
        }

        .wdrsky-body {
            position: relative;
            border-block: 1px solid var(--wdrsky-border);
            margin-top: 2rem;

            &::before {
                content: "";
                position: absolute;
                inset: 4px 0;
                border-top: 1px solid var(--wdrsky-border);
            }

            .wdrsky-inn {
                position: relative;
                margin-inline: min(3.5vw, 4rem);
                border-inline: 1px solid var(--wdrsky-border);

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0 4px;
                    border-inline: 1px solid var(--wdrsky-border);
                }

                .wdrsky-content {
                    position: relative;
                    width: calc(100% + calc(min(3.5vw, 4rem) * 2));
                    margin-left: calc(min(3.5vw, 4rem) * -1);
                    padding-inline: calc(min(3.5vw, 4rem) + 2rem);
                    padding-block: calc(1lh + 4px) 2lh;
                    background: repeating-linear-gradient(transparent, transparent calc(1lh - 1px), var(--wdrsky-border) calc(1lh - 1px), var(--wdrsky-border) 1lh, transparent 1lh);
                    font-family: 'Bai Jamjuree', san-serif;

                    hr {
                        height: 2px;
                        width: 500px;
                        max-width: 100%;
                        margin: auto;
                        margin-block: calc(1lh - 5px);
                        background: transparent;
                        border: 2px dashed var(--wdrsky-primary);
                    }

                    h1 {
                        font-size: x-large;
                        margin: 0;
                        margin-block: -2px -4px;
                        color: var(--wdrsky-primary);
                    }

                    ol, ul { margin: 0 }

                    img { height: calc(15lh - 6px); }
                }
            }
        }

        .wdrsky-footer {
            position: relative;
            padding: 3rem 0 4rem;
            border-bottom: 1px solid var(--wdrsky-border);
            margin-bottom: 4px;
            
            font-family: 'Bai Jamjuree', sans-serif;
            text-transform: uppercase;
            text-align: center;
            color: var(--wdrsky-primary);

            .wdrsky-note {
                position: relative;
                width: fit-content;
                margin: auto;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(75%, -35%);
                    
                    width: 52.9%;
                    aspect-ratio: 160/196;
                    background: url(https://iili.io/CCHMMpj.png) center/contain no-repeat;
                }
            }
        }
    }
}