@import "tailwindcss";

:root {
    --background: #131313;
    --foreground: #ffffff;
    --primary: #ff8c00;

    --header-height: 57px;
    --footer-height: 33px;
}

@theme {
    @keyframes blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0; }
    }

    --font-Google-Sans: var(--font-Google-Sans);
    --font-Google-Code: var(--font-Google-Code);
    --font-Monomaniac-One: var(--font-Monomaniac-One);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Google Sans', Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: 'Monomaniac One', sans-serif;
}

@media (min-width: 768px) {
    h1 {
        margin-block-start: -0.5rem;
    }
}

.animate-cursor-blink {
    animation: blink 1s step-end infinite;
}

.body-grid-layout {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.header-grid-area {
    grid-row: 1/2;
}

.main-grid-area {
    grid-row: 2/3;
}

.footer-grid-area {
    grid-row: 3/4;
}

.main-grid-layout {
    grid-template-columns: auto 1fr;
}

.nav-grid-area {
    grid-column: 1/2;
}

.section-grid-area {
    grid-column: 2/3;
}

.zzzcode-card-grid {
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
}

@supports (grid-template-rows: subgrid) {
    .zzzcode-card-item {
        grid-row: span 5;
        display: grid;
        grid-template-rows: subgrid;
    }
}

.scrollbar-hide::-webkit-scrollbar { width: 0; }

.scrollbar-hide-resize-y {
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
    
    resize: vertical;
}

.grid-template-rows-\[0fr\] {
    grid-template-rows: 0fr;
}
.grid-template-rows-\[1fr\] {
    grid-template-rows: 1fr;
}

.zzzcode-list-grid {
    display: grid;
    grid-template-columns: 1fr 72px;
}

@supports (grid-template-rows: subgrid) {
    .zzzcode-list-item {
        grid-column: span 2;
        display: grid;
        grid-template-columns: subgrid;
    }
}

@media (width >= 40rem) {
    .zzzcode-list-grid {
        grid-template-columns: 120px 1fr auto;
    }

    @supports (grid-template-rows: subgrid) {
        .zzzcode-list-item {
            grid-column: span 3;
            display: grid;
            grid-template-columns: subgrid;
        }
    }
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    background: var(--primary);
    cursor: pointer;
    border-radius: 0px;
}

input[type="range"]::-moz-range-thumb {
    width: 8px;
    height: 8px;
    background: var(--primary);
    cursor: pointer;
    border-radius: 0px;
    border: none;
}

input[type="range"]:hover::-webkit-slider-thumb {
    outline: 1px solid var(--primary);
    outline-offset: 1px;
}

input[type="range"]:hover::-moz-range-thumb {
    outline: 1px solid var(--primary);
    outline-offset: 1px;
}

#preview-container hr {
    color: #fff;
    background: #303030;
    height: 1px;
    border: 0px;
}

#preview-container a {
    color: rgb(43, 120, 255);
    transition: .3s;
}

#preview-container a:link {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}